
body{
    margin: 0;
    background-color: #05254D;
    display: flex;
    justify-content: left
}

h1{
    color: #e9e9e9;
    margin-bottom: 20px;
    font-family: Fredoka One, cursive;
}     


.logo_inicial{
    display: flex;;
    justify-content: center;
    width: 70%;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 700px;
}

.logo_inicial img{
    margin-right: 20px;
    width: 400px;
}

.login{
    background-color: #beb9b9;
    padding: 30px;
    border-radius: 25px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    flex-direction: column;
    width: 300px;
    margin-left: 800px;
    margin-top: 40px;
    margin-bottom: 200px;;
    text-align: center;
    h1{
        color:#05254D
    }
}

.email input{
    width:85%;
    background-color:#e9e9e9;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
    border-color: transparent
}

.senha input{ 
    width:85%;
    background-color:#e9e9e9;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
    border-color: transparent;
}

.esqueci_senha{
    color:#05254D;
    text-align: right;
    font-family: Fredoka One, cursive;
    margin-bottom: 5px;
    margin-bottom: 12px;;
    font-size: 11px;
}

.esqueci_senha a:hover{
    text-decoration: underline;
}

.entrar button{
    background-color:#05254D;
    color: #e9e9e9;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 150px;
    font-family: Fredoka One, cursive;
    border-color: transparent;
}

.ou {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.linha {
    height: 1px;
    background-color: #05254D;
    flex: 1;
}

.ou span {
    margin: 0 10px;
    color: white;
}

.cadastro p{
    color:#05254D;
    font-family: Fredoka One, cursive;
    font-size: 15px;
}

.logo_redes {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.logo_redes i {
  font-size: 20px;
  padding: 12px;
  border-radius: 80%;
  background: #eee;
  transition: 0.3s;
}

.logo_redes i:hover {
  background: #05254D;
}
